{
  error: CastError: Cast to embedded failed for value "{
    graduation_date: 'dbshbd',
    entry_date: 'ndsnsj',
    course: 'Dentistry and Dental Surgery',
    institution: 'University of Benin'
  }" (type Object) at path "education" because of "CastError"
      at SchemaDocumentArray.cast (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\schema\documentArray.js:498:19)
      at SchemaDocumentArray.SchemaType.applySetters (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\schemaType.js:1236:12)
      at castUpdateVal (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\helpers\query\castUpdate.js:522:22)
      at walkUpdatePath (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\helpers\query\castUpdate.js:278:26)
      at castUpdate (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\helpers\query\castUpdate.js:111:7)
      at model.Query._castUpdate (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\query.js:4587:10)
      at model.Query._findOneAndUpdate (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\query.js:3298:23)
      at model.Query.exec (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\query.js:4330:80)
      at processTicksAndRejections (node:internal/process/task_queues:95:5)
      at async ADD_EDUCATION (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\src\controller\user\education.ts:21:18) {
    stringValue: '"{\n' +
      "  graduation_date: 'dbshbd',\n" +
      "  entry_date: 'ndsnsj',\n" +
      "  course: 'Dentistry and Dental Surgery',\n" +
      "  institution: 'University of Benin'\n" +
      '}"',
    messageFormat: undefined,
    kind: 'embedded',
    value: {
      graduation_date: 'dbshbd',
      entry_date: 'ndsnsj',
      course: 'Dentistry and Dental Surgery',
      institution: 'University of Benin'
    },
    path: 'education',
    reason: CastError: Cast to date failed for value "ndsnsj" (type string) at path "entry_date"
        at SchemaDate.cast (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\schema\date.js:376:11)
        at SchemaDate.SchemaType.applySetters (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\schemaType.js:1236:12)
        at EmbeddedDocument.$set (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\document.js:1421:22)
        at EmbeddedDocument.$set (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\document.js:1117:16)
        at EmbeddedDocument.Document (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\document.js:166:12)
        at EmbeddedDocument.Subdocument (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\types\subdocument.js:34:12)
        at EmbeddedDocument.ArraySubdocument [as constructor] (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\types\arraySubdocument.js:44:15)
        at new EmbeddedDocument (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\schema\documentArray.js:127:17)
        at SchemaDocumentArray.cast (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\schema\documentArray.js:492:22)
        at SchemaDocumentArray.SchemaType.applySetters (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\schemaType.js:1236:12) {
      stringValue: '"ndsnsj"',
      messageFormat: undefined,
      kind: 'date',
      value: 'ndsnsj',
      path: 'entry_date',
      reason: AssertionError [ERR_ASSERTION]: The expression evaluated to a falsy value:

        assert.ok(false)

          at castDate (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\cast\date.js:40:10)
          at SchemaDate.cast (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\schema\date.js:374:12)
          at SchemaDate.SchemaType.applySetters (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\schemaType.js:1236:12)
          at EmbeddedDocument.$set (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\document.js:1421:22)
          at EmbeddedDocument.$set (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\document.js:1117:16)
          at EmbeddedDocument.Document (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\document.js:166:12)
          at EmbeddedDocument.Subdocument (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\types\subdocument.js:34:12)
          at EmbeddedDocument.ArraySubdocument [as constructor] (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\types\arraySubdocument.js:44:15)
          at new EmbeddedDocument (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\schema\documentArray.js:127:17)
          at SchemaDocumentArray.cast (C:\Users\USER\Documents\DEVELOPMENTS\QUICKHIRE\quickhire-backend-v2\node_modules\mongoose\lib\schema\documentArray.js:492:22) {
        generatedMessage: true,
        code: 'ERR_ASSERTION',
        actual: false,
        expected: true,
        operator: '=='
      },
      valueType: 'string'
    },
    valueType: 'Object'
  }
}